.login-list{
  margin-top: 30px;
}

.signIn-btn{
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-btn{
  width: 90%;
  margin: 15px auto;
}

.logo-img{
  margin-top: 40px;
  width: 200px;
  height: 200px;
}

.error {
  color: var(--ion-color-danger);
}